<h1>Listing messages</h1>

<table>
  <tr>
    <th>Body</th>
    <th>User</th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%=h message.body %></td>
    <td><%=h message.user.try(:username) %></td>
    <td><%= link_to 'Show', message %></td>
  </tr>
<% end %>
</table>

<br />
