
<h1>Login</h1>
<div class="form">
  <% form_tag "/session", :id => "session" do %>
  <div class="field">
    <label>User Name</label>
    <%= text_field_tag "username" %>
  </div>
  <div class="field">
    <label>Password</label>
    <%= password_field_tag "password" %>
  </div>
  <%= submit_tag "Login", :class => "submit" %>
<% end %>
</div>
